@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">   
    <div class="container">
        <div class="row">
            <table class="table table-bordered table-borderless">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>项目名称</th>
                        <th>描述</th>
                        <th>用效性</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="projects"></tbody>
            </table>
        </div>
    </div>
</div>
