################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ManimumCI/ManimumCI/bin
/ManimumCI/.vs
*.ide
*.cache
*.ide-shm
*.ide-wal
/ManimumCI/ManimumCI/obj

